node_modules/
out/
release/
dist/
*.log
.DS_Store
scripts/wallpaper-download/downloads/*
!scripts/wallpaper-download/downloads/.gitkeep
scripts/wallpaper-download/config/*
!scripts/wallpaper-download/config/.gitkeep
